.login-container{
    max-width: 50% !important;
    min-width: 50% !important;
}
.form-check-input:checked{
    background-color: black !important;
    box-shadow: none !important;
}
.form-check-input{
    box-shadow: none !important;
}
@media only screen and (max-width: 1000px) {
    .login-container{
        max-width: 90% !important;
    }
  }